# Ignore conda virtual environment folder
/StockEnv/
.idea/
/stocksystem/config.py
/stocksystem/__pycache__
/stocksystem/controller/__pycache__
/stocksystem/model/__pycache__
/stocksystem/service/__pycache__
/config
# Optionally, ignore conda environment cache
*.conda
